notebooks/catboost_info/
notebooks/catboost_info/
*.swp
**/.ipynb_checkpoints/
**/.DS_Store
.vscode
dist/ 
**/.pkl
.pytest_cache/
**/__pycache__/

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

# Sensitive or high-churn files:
.idea/
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

*.tsv
*.pyc 
.ipynb_checkpoints
*/.ipynb_checkpoints/*__pycache__/

