boto3

#other
causaltune
cloudpickle
dcor
dill
fsspec
holidays
ipykernel
ipympl
ipywidgets
jupyter
matplotlib
mlflow
networkx
numpy~=1.23.5
numpyro
pandas<=1.5.3
plotly
pytest
s3fs
scikit_learn
scipy
seaborn
setuptools==70.0.0
snowflake_sqlalchemy
SQLAlchemy
statsmodels
streamlit
sympy
wise-pizza>=0.2.0
