numpy~=1.23.5
pandas<=1.5.3
pytest
scipy
scikit_learn
matplotlib
dcor
holidays
setuptools==65.5.1
ipykernel
boto3
dill
fsspec
s3fs
mlflow
ipywidgets
ipympl
networkx
sympy

#other
causaltune
statsmodels
plotly
seaborn
snowflake_sqlalchemy
SQLAlchemy
cloudpickle
jupyter
numpyro
streamlit
wise-pizza>=0.2.0
